#hopeitfloats {
	position: fixed;
}


div {
	padding: 5px;
	padding-left: 0px;
	border: 5px solid transparent;
	position: float;
}


#dtool {
	cursor: hover;
}

#undo {
	margin-left: 50px;
	position: relative;
}

#radiustext {
	padding-left: 1px;
	border-style: solid;
	border-color: #BDBDBD;
	border-width: 1px;
	font-family: serif;
	padding-left: 1px;
	width: 25px;
}

button {
	background-color: #2E9AFE;
	color: white;
	font-size: 15px;
	height: 25px;
	width: 50px;
	font-family: Helvetica;
	border-radius: 7px;
	position: relative;
}

#upload {
	background-color: #2E9AFE;
	color: white;
	font-size: 15px;
	height: 25px;
	width: 70px;
	font-family: sans-serif;
	border-radius: 7px;
}

span {
	font-family: Helvetica;
	font-size: 19px;
}

* {
	font-family: Helvetica;
}

#info {
	height: 125px;
	width: 360px;
	background-color: clear;
	border-color: orange;
	position: fixed;
	margin-top:0px;
	margin-left: 575px;
}

#example {
	font-size: 14px;
}

#no1{

	font-size: 14px;
}

#no2 {
	font-size: 14px;
}

#no3 {
	font-size: 14px;
}

#no4 {
	font-size: 14px;
}

#no5 {
	font-size:14px;
}

#graph_info {
	height: 100px;
	width: 500px;
}

#empty {
	height: 115px;
}
