#hopeitfloats {
	background: white;
	position: fixed;
	border-color: #848484;
}

div {
	padding: 5px;
	padding-left: 0px;
	border: 5px solid transparent;
	position: float;
}

#dtool {
	cursor: hover;
}

#undo {
	margin-left: 15px;
	position: relative;
}

#radiustext {
	padding-left: 1px;
	border-style: solid;
	border-color: #BDBDBD;
	border-width: 1px;
	font-family: serif;
	padding-left: 1px;
	width: 25px;
}

button {
	background-color: #2E9AFE;
	color: white;
	font-size: 15px;
	height: 25px;
	width: 50px;
	font-family: Helvetica;
	border-radius: 7px;
	position: relative;
}

#upload {
	background-color: #2E9AFE;
	color: white;
	font-size: 15px;
	height: 25px;
	width: 70px;
	font-family: sans-serif;
	border-radius: 7px;
}

span {
	font-family: Helvetica;
	font-size: 19px;
}

* {
	font-family: Helvetica;
}

#info {
	height: 130px;
	width: 360px;
	background-color: white;
	border-color: orange;
	position: fixed;
	margin-top:0px;
	margin-left: 575px;
	font-size: 14px;
}

#example {
	font-size: 14px;
}

.infobox{
	font-size: 14px;
}

.ForM {
	font-size:12px;
}

#graph_info {
	height: 100px;
	width: 500px;
}

#empty {
	height: 115px;
}

#findme {
	width: 50px;
}

#popx {
	width: 40px;
}

#popy {
	width: 40px;
}

#popset {
	width: 80px;
}

#popfloors {
	width: 80px;
}
#stair {
	font-size: 16px;
}

#stair1 {
	font-size: 16px;
}

#stairset {
	width: 35px;
}
#stairconnection{
	font-size: 15.5px;
}
.nodisplay{
	display: none;
}
.scalers{
	display: none;
}

.Forup {
	font-size: 14px;
}   
#auto{
	display: inline-block;
}
#zoomname {
	font-size: 16px;
}    
